#background {
    font-family: sans-serif;
    /* background-image: url(images/music_notes.webp); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #FFDE7D;
}

h1 {
    color: #00B8A9;
    font-size:8vw;
}

body {
    width: 50%;
    height: 100%;
    padding: 50px;
    background-color: #F8F3D4;
    color: #000000;
    justify-content: center;
}

#prelobby_modal_background{
    font-family: sans-serif;
}

.btn{
    /* background: url(images/cloud.png) no-repeat; */
    background-size: 90px;
    width: 90px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: #F6416C;
    border-radius: 12px;
    color: #F8F3D4;
}

.content{
    align-items: stretch;
    justify-content: center;
    display: none;
}

.split{
    display: flex;
    align-items: stretch;
    justify-content: center;
    column-gap: 3rem;
}

.split-items{
    border: none;
}

#word_options_form{
    display: flex;
    justify-content: center;
}


.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(assets/sprites.png);}

.four {width:96px; height:85px; background-position: -0px -0px}
.one {width:96px; height:85px; background-position: -96px -0px}
.three {width:96px; height:85px; background-position: -192px -0px}
.two {width:96px; height:85px; background-position: -288px -0px}