<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<html lang="en" id="background">

<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" rel="stylesheet" />
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.min.js" type="text/javascript"></script>
    <script src="//cdn.rawgit.com/kimmobrunfeldt/progressbar.js/1.0.1/dist/progressbar.min.js"></script>
    <script>
        var cdnUrl = '{{ CDN_URL }}';
    </script>
    <script type="text/javascript">
        var room_code = '{{ room_code }}'
    </script>
    <script src="/static/js/game.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>warble - A hummable tune guessing game</title>
</head>

<body>
    <h1>Warble</h1>

    <!-- Pre Lobby modal -->
    <div id="prelobby_modal_background" class="content">
        <div id="lobby_model" class="split">
            <form id="join_room_form" class="split-items">
                <input id="room_code_input" type="text" placeholder="Enter Room Code" name="room_code_input">
                <br>
                <input class="btn btn-default" type="submit" value="Join Room">
            </form>
            <p>OR</p>
            <form id="create_room_form" class="split-items">
                <input class="btn btn-default" type="submit" value="Create Room">
            </form>
            <p id="prelobby_error"></p>
        </div>
    </div>

    <!-- Name modal -->
    <div id="name_modal_background" class="content">
        <div id="lobby_model" class="split">
            <form id="name_form">
                <div>
                    <input id="player_name" type="text" placeholder="Name your player" name="player_name">
                    <input class="btn btn-default" type="submit" value="Submit">
                </div>
        </div>
        </form>
        <p id="name_error"></p>
    </div>
    </div>

    <!-- Lobby modal -->
    <div id="lobby_modal_background" class="content">
        <div id="lobby_model">
            <p id="room_code"></p>
            <ul id="player_list"></ul>
            <form id="lobby_form">
                <label for="wordset">Choose a word set:</label>
                <select name="wordset" id="wordset_dropdown">
                </select>
                <div>
                    <input class="btn btn-default" type="submit" value="Start Game">
                </div>
            </form>

            <p id="lobby_error"></p>
        </div>
    </div>

    <!-- Game -->
    <div id="game_modal_background" class="content">
        <div id="game_model" class="split">
            <div id="game_meta_info">
                <p id="round_num"></p>
                <p id="current_player"></p>
                <p id="choosen_word"></p> 
            </div>
            <form id="word_options_form">
                <div>
                    <input id="Option1" class="btn btn-default" type="submit" value=""
                        onclick="select_word('Option1'); return false">
                    <input id="Option2" class="btn btn-default" type="submit" value=""
                        onclick="select_word('Option2'); return false">
                    <input id="Option3" class="btn btn-default" type="submit" value=""
                        onclick="select_word('Option3'); return false">
                </div>
            </form>

            <ul id="chatbox"></ul>

            <form id="message_form">
                <div>
                    <input id="usermsg" type="text" placeholder="Answer here" name="usermsg">
                    <input class="btn btn-default" type="submit" value="Send">
                </div>
            </form>

            <p id="game_error"></p>
        </div>
    </div>

    <!-- Turn End -->
    <div id="score_modal_background" class="content">
        <div class="split">
            <div id="score_model">
                <p id="choosen_word"></p>
                <ul id="player_score_list"></ul>
                <p id="game_error"></p>
            </div>
            <form id="next_turn_form">
                <div>
                    <input class="btn btn-default" type="submit" value="Next">
                </div>
            </form>
        </div>
    </div>

    <!-- End Game -->
    <div id="end_modal_background" class="content">
        <div class="split">
            <div id="end_model">
                <p id="winner"></p>
                <ul id="player_end_list"></ul>
                <p id="game_error"></p>
            </div>
            <form id="play_again_form">
                <div>
                    <input class="btn btn-default" type="submit" value="Play Again">
                </div>
            </form>
        </div>
    </div>

</body>

</html>